body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  z-index: -1;
}

.container {
  text-align: center;
  padding-top: 80px;
  position: relative;
  z-index: 1; /* مهم جدا */
}

h1 {
  font-size: 2.5rem;
}

.main-img {
  width: 250px;
  height: auto;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.message {
  font-size: 1.2rem;
  margin: 20px;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  background: #fff;
  color: #ff4d6d;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
  margin-top: 20px;
  font-size: 1.2rem;
}
